/*=============GERAL==============*/
* {
margin: 0;
padding: 0;
top: 0;
box-sizing: border-box;

}
:root {

  font-size: 62.5%; /* 1rem= 10px*/
}
html,
body {

  font-family: rodina;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  margin-inline: auto;

/*==========main-menu================*/

}
.main-menu-side span h4 {
  font-size: 3rem;
  color:   aqua;
  margin-inline: auto;
  margin-top: 3rem;
  text-align: center;
  
}

.main-menu-side span h5 {
  
  font-size: 1.5rem;
  color:  rgb(171, 167, 167);

  margin-top: 2rem;
  text-align: center;
  font-style: italic;
  
}
.main-menu-side {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  width: min-content;
  background-color: #141212;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.main-menu-side  a {
  display: block;
  font-size: 1.9rem;
  width: auto;
  padding: 8px 16px;
  background-color:  #141212;
  color: rgb(171, 167, 167);
  text-decoration: none;
  text-align: center;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}
.main-menu-side a.active {
  background-color:  #555;
  color: #00ffff;
}
/* Change the link color on hover */
.main-menu-side  a:hover:not(.active) {
  background-color: #555;
  color: aqua;
}

 
.menu-links img {
  text-align: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
  
}
/*========home=====================*/
 #home h1 {
margin-top: 4rem;
display: flex;
font-weight: 400;
font-size: 5rem;


text-align: center;
margin-left: 11rem;

}

#home img {
  width: 5rem;
  height: 5rem;

  margin-left: 1rem;
  
}

#home h2 {
  display: flex;
  font-weight: 400;
  font-size: 5rem;
  text-align: left;
  margin-left: 14rem;
  margin-bottom: 1rem;
  
 
}
/*=======Section================*/
.text p {
font-weight: 200;
font-size: 2rem;

margin-left: 14rem;
color: #fa48df;

margin-bottom: 2rem;

} 

 .profession h3 {

  font-size: 1.7rem;
  margin-left: 14rem;
  color: aqua;
 
  margin-bottom: 7rem;
  
}

#call button{
  background: #4ff0e8;
  background-image: -webkit-linear-gradient(top, #4ff0e8, #3dd9f5);
  background-image: -moz-linear-gradient(top, #4ff0e8, #3dd9f5);
  background-image: -ms-linear-gradient(top, #4ff0e8, #3dd9f5);
  background-image: -o-linear-gradient(top, #4ff0e8, #3dd9f5);
  background-image: linear-gradient(to bottom, #4ff0e8, #3dd9f5);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #ffffff;
  font-family: rodina;
  color: #050405;
  font-size: 38px;
  padding: 12px 33px 13px 33px;
  text-decoration: none;
  margin-left: 14rem;
  cursor: pointer;
  margin-bottom: 19rem;
  


}
#call .button1:hover {
  background: #3acdf2;
  background-image: -webkit-linear-gradient(top, #3acdf2, #fa61f5);
  background-image: -moz-linear-gradient(top, #3acdf2, #fa61f5);
  background-image: -ms-linear-gradient(top, #3acdf2, #fa61f5);
  background-image: -o-linear-gradient(top, #3acdf2, #fa61f5);
  background-image: linear-gradient(to bottom, #3acdf2, #fa61f5);
  text-decoration: none;
}


 #skill button { 
   display: inline-block;
   
   min-width: 140px;
   min-height: 60px;
   font-family: 'rodina';
   font-size: 22px;
   font-weight: 700;
   color: rgb(211, 33, 185);
   background: #4FD1C5;
   border-radius: 1000px;
   padding: 5px;
   margin-left: 14rem;
   margin-bottom: 4rem;
   cursor: context-menu;
   
 
 }
 
h3 {
  display: grid;
  font-size: 4rem;
  margin-left: 14rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  
 
 }
 .gallery {
  
   display: flex;
   width: 100%;
   max-width: 400px;
   max-height: fit-content;
   margin-left: 14rem;
   border: 1px solid #777;
   align-items: center;
   justify-content: center;
   margin-bottom: 2rem;
   
 }
 
 .gallery > div {
 flex: 1 1 300px;
 margin: 2rem 2rem 1rem auto;
 object-fit: cover;
 min-width: 5px;
 }
 .gallery img {
 display: flex;
 width: 100%;
 height: 100%;
 max-width: 400px;
 max-height: fit-content;
 object-fit: cover;
 object-position: bottom;
 margin-inline: auto;
 
 }
 
 
 .desc {
  display: flex;
  text-align: left;
  padding: 1rem;
  flex-flow: column;
  max-width: 100px;
  max-height: fit-content;
  font-size: 1.3rem;
  margin-inline: auto;
   
   
 }
#about h3 {
  
  display: flex;
   font-size: 4rem;
   margin-left: 14rem;
   margin-bottom: 3rem;
   margin-top: 3rem;
}

#about p {
display: flex;
 font-size: 2rem;
 color: rgb(250, 72, 223);
 margin-left: 14rem;
 margin-bottom: 3rem;
}


.contact h3 {
  display: flex;
  font-size: 4rem;
  margin-left: 14rem;
  margin-bottom: 3rem;
}

.contact p {
  display: flex;
  font-size: 2rem;
  color: rgb(250, 72, 223);
  margin-left: 14rem;
  margin-bottom: 1.5rem;
}

#contactme  a {
text-decoration: none;

}

#contactme button{
  background: #4ff0e8;
  background-image: -webkit-linear-gradient(top, #4ff0e8, #3dd9f5);
  background-image: -moz-linear-gradient(top, #4ff0e8, #3dd9f5);
  background-image: -ms-linear-gradient(top, #4ff0e8, #3dd9f5);
  background-image: -o-linear-gradient(top, #4ff0e8, #3dd9f5);
  background-image: linear-gradient(to bottom, #4ff0e8, #3dd9f5);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #ffffff;
  font-family: rodina;
  color: #050405;
  font-size: 38px;
  padding: 12px 33px 13px 33px;
  text-decoration: none;
  margin-left: 14rem;
  cursor: pointer;
  margin-bottom: 5rem;
}
#contactme .button2:hover {
  background: #3acdf2;
  background-image: -webkit-linear-gradient(top, #3acdf2, #fa61f5);
  background-image: -moz-linear-gradient(top, #3acdf2, #fa61f5);
  background-image: -ms-linear-gradient(top, #3acdf2, #fa61f5);
  background-image: -o-linear-gradient(top, #3acdf2, #fa61f5);
  background-image: linear-gradient(to bottom, #3acdf2, #fa61f5);
  text-decoration: none;
}
footer {
margin-bottom: 4rem;
text-align: center;
font-size: 1.9rem;

}

.back-to-top {
  right: 1rem;
  position: fixed;
  bottom: 1.3rem;
  padding: 0.5rem;
 
  
  font-size: 1.5rem;
  line-height: 0;
  visibility: visible
  opacity: 0;
  transition: .3s;
  transform: translateY(94%);
}
