/*=============GERAL==============*/
* {
margin: 0;
padding: 0;
top: 0;
box-sizing: border-box;




}
:root {

  font-size: 62.5%; /* 1rem= 10px*/
  



}
html {

  scroll-behavior: smooth;
  overflow-y: hidden;


 
}
html,
body {
  height: 100%;
  font-family: rodina, sans-serif;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  margin-inline: auto;
  display: flex;
  overflow-x: hidden;
  
  
  
  
}

main {
 

  padding: 1px 16px;
  height:1000px;
  
      
  justify-items: center;
  }
  
/*==========main-menu================*/


.main-menu-side {
 

  list-style-type: none;
  flex-direction: column;
  width: min-content;
  background-color: #141212;
  position: fixed;
  height: 100%;
  overflow-x: hidden;
  
  align-items: start;
  justify-items: start;


}


.main-menu-side  h4 {
  font-size: 3rem;
  color:   aqua;
  margin-inline: auto;
  margin-top: 3rem;
  text-align: center;
  
}

.main-menu-side  h5 {
  
  font-size: 1.5rem;
  color:  rgb(171, 167, 167);

  margin-top: 2rem;
  text-align: center;
  font-style: italic;
  
}

.main-menu-side  a {
  
  display: block;
  font-size: 1.9rem;
  width: auto;
  padding: 8px 16px;
  background-color:  #141212;
  color: rgb(171, 167, 167);
  text-decoration: none;
  text-align: center;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}
.main-menu-side a.active {
  background-color:  #555;
  color: #00ffff;
}
/* Change the link color on hover */
.main-menu-side  a:hover:not(.active) {
  background-color: #555;
  color: aqua;
}

 
.menu-links img {
  text-align: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
  
}


  

/*========home=====================*/


#home {
 
display: flex;
justify-content: center;


justify-items: center;
flex-direction: column;
flex-wrap: nowrap;
animation-duration: 1.5s;
animation-name: slidein;
}


#home  h1 {
  
  padding-top: 4rem;
  margin-left: 5rem;

font-weight: 400;
font-size: 4rem;

}

#home img {
  width: 5rem;
  height: 5rem;
}


#home h2 {
 
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
  
 
}



.text p {
font-weight: 200;
font-size: 2.5rem;

margin-left: 5rem;
color: #fa48df;

margin-bottom: 2rem;

animation-duration: 1.5s;
animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  
  to {
    margin-left: 0%;
    width: 100%;
  }

 }



 .profession h3 {

  font-size: 2.3rem;
  
  color: aqua;
  margin-left: 5rem;
  margin-bottom: 10rem;

  animation-duration: 1.5s;
animation-name: slidein;
}


 .button1 a {
  text-decoration: none;

 }

.button1 {
  display: flex;
  margin-left: 5rem;
  margin-right:auto;
  margin-bottom: 5rem;

  
  background: #4ff0e8;
  background-image: -webkit-linear-gradient(top, #4ff0e8, #3dd9f5);
  background-image: -moz-linear-gradient(top, #4ff0e8, #3dd9f5);
  background-image: -ms-linear-gradient(top, #4ff0e8, #3dd9f5);
  background-image: -o-linear-gradient(top, #4ff0e8, #3dd9f5);
  background-image: linear-gradient(to bottom, #4ff0e8, #3dd9f5);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #ffffff;
  font-family: rodina, sans-serif;
  color: #050405;
  font-size: 38px;
  padding: 12px 33px 13px 33px;
  
 
  cursor: pointer;
  
 
  }
  
 


 .button1:hover {
  background: #3acdf2;
  background-image: -webkit-linear-gradient(top, #3acdf2, #fa61f5);
  background-image: -moz-linear-gradient(top, #3acdf2, #fa61f5);
  background-image: -ms-linear-gradient(top, #3acdf2, #fa61f5);
  background-image: -o-linear-gradient(top, #3acdf2, #fa61f5);
  background-image: linear-gradient(to bottom, #3acdf2, #fa61f5);
  text-decoration: none;

  
}




#portifolio  {
   
  display: flex;
  flex-flow: row wrap;


  margin-top: 4rem;
  margin-bottom: 4rem;
 
   
}
  


.projetos h3 {

  margin-left: 12rem;
 
   font-size: 5rem;
   animation-duration: 1.5s;
   animation-name: slidein;
 }
 
 @keyframes slidein {
 from {
   margin-left: 100%;
   width: 300%;
 }
 
 to {
   margin-left: 0%;
   width: 100%;
 }
    

 
}
 
#galleries {
  display: flex;
  flex-flow: row wrap;
  margin-top: 4rem;
  margin-bottom: 4rem;
 
 

}

 .gallery {
  display:flex;
 
    width: 37.5rem;
    max-width: 400px;
    max-height: fit-content;
    margin-left: 12rem;
    border: 1px solid #777;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    
    
  }
  
  .gallery > div {
  flex: 1 1 300px;
  margin: 2rem 2rem 1rem auto;
  object-fit: cover;
 
  
  }

   .gallery img {
 
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: fit-content;
  object-fit: cover;
  object-position: bottom;
  margin-inline: auto;
  
  }
  
  
  .desc {
   display: flex;
   text-align: center;
   padding: 1rem;
   flex-flow: column;
   max-width: 100px;
   max-height: fit-content;
   font-size: 1.8rem;
   margin-inline: auto;
    
    
  }
  
#about {
  display:flex;
  flex-flow: column;
  margin-bottom: 4rem;
  margin-top: 3rem;
  font-size: 5rem;

 
}

.aboutme h3 {

  margin-left: 12rem;
}
  

  .aboutme_dev p {

font-weight: 200;
font-size: 2.5rem;

margin-left: 12rem;
color: #fa48df;

margin-bottom: 2rem;


    
  }
   

  
  .aboutme p {

   font-size: 2.5rem;
   color: rgb(250, 72, 223);
  display: grid;
  margin-left: 15rem;
   margin-bottom: 3rem;

  
  }

 
  
 .skills h3 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 5rem;
  margin-left: 12rem;

  
  

}
  
   .col button { 
   min-width: 140px;
   min-height: 60px;
   font-family: 'rodina', sans-serif;
   font-size: 22px;
   font-weight: 700;
   color: rgb(211, 33, 185);
   background: #4FD1C5;
   border-radius: 1000px;
   padding: 5px;
   margin-left: 17rem;
   margin-bottom: 4rem;
   cursor: context-menu;
   
 
 }
 

 
#contact {
  display:flex;
  flex-flow: column;
  margin-bottom: 4rem;
  margin-top: 3rem;
  font-size: 5rem;
  
  
  
    }


.contact_text h3 {

  margin-left: 3rem;
  animation-duration: 2s;
  animation-name: slidein;
  
  animation: blinker 2s linear infinite;
}
  @keyframes blinker {
    50% {
      opacity: 0;
    }
 
}

.contact_text2 p {

font-weight: 200;
font-size: 2.5rem;

color: #fa48df;

margin-bottom: 2rem;
margin-left: 3rem;
}


#contactme  a {
text-decoration: none;

}

#contactme button{

  background: #4ff0e8;
  background-image: -webkit-linear-gradient(top, #4ff0e8, #3dd9f5);
  background-image: -moz-linear-gradient(top, #4ff0e8, #3dd9f5);
  background-image: -ms-linear-gradient(top, #4ff0e8, #3dd9f5);
  background-image: -o-linear-gradient(top, #4ff0e8, #3dd9f5);
  background-image: linear-gradient(to bottom, #4ff0e8, #3dd9f5);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #ffffff;
  font-family: rodina, sans-serif;
  color: #050405;
  font-size: 38px;
  padding: 12px 33px 13px 33px;
  text-decoration: none;
 
  cursor: pointer;
  margin-bottom: 7rem;
  margin-left: 3rem;
 
  
}
#contactme .button2:hover {
  background: #3acdf2;
  background-image: -webkit-linear-gradient(top, #3acdf2, #fa61f5);
  background-image: -moz-linear-gradient(top, #3acdf2, #fa61f5);
  background-image: -ms-linear-gradient(top, #3acdf2, #fa61f5);
  background-image: -o-linear-gradient(top, #3acdf2, #fa61f5);
  background-image: linear-gradient(to bottom, #3acdf2, #fa61f5);
  text-decoration: none;

  
}

footer  {
 
margin-bottom: 5rem;
display: flex;
 
justify-content: center;

font-size: 1.9rem;



}
.back-to-top {
  right: 2rem;
  position: fixed;
  bottom: 1.3rem;
  padding: 0.5rem;
 
  
  font-size: 1.5rem;
  line-height: 0;
  visibility: visible
  opacity: 0;
  transition: .3s;
  transform: translateY(94%);
}


@media max-width(1864px) {
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    
  }
 }
 @media max-width(1372px) {
   body {
    
   display: grid;
   }

   main {
  
   
    margin: auto;
   }

  #about h3 {
    
    align-content: center;
    justify-content: center;
    align-items:center;
  }

}

@media max-width(1262px) {
  

   #about {

   justify-items: center;
   align-content: center;
   align-items: center;
   display: grid;
   justify-content: center;
   }
  #about h3 {
    align-content: center;
    justify-content: center;
    
 
  }

  #about p {
    display: flex;
    flex-flow: column;
    
    flex-wrap: wrap;
    align-items: right;
    
  }
}

@media max-width(981px) {  
  main{
    margin-left: 8%;
  }
  }  
   #home {
    margin-left: 8%;
  }
#contact {
  margin-left: 8%;
}
  

@media  max-width(875px) { 
  #home {
    margin-left: 25%;
   }
   #contact {
    margin-left: 25%;
  }

  html,
  body {
    
    overflow-y: auto;
    max-width: 100%;
   min-width: 100%;
   }

}

@media max-width (513px) {
  #home {
    margin-left: 20%;
   }
   #contact {
    margin-left: 20%;
  }

   main{
    margin-left: 8%;
  }
}

@media only screen and (min-device-width: 575px) and (max-device-width: 875px) {

  #home {
    margin-left: 12%;
   }

   .skills h3 {
  
    margin-left: 12%;
  }

  .contact_text h3{
    margin-left: 5rem;
  }

  html,
  body {
    
  overflow-y: auto;
 

 
   }

   main {
    margin-left: 7%;
    
  }
  }
  @media only screen and (min-device-width: 360px) and (max-device-width: 574px) {
    body {
      display: block;
    }
    
    #home {
      margin-left: 15%;
    }

    .gallery {  

      width: 20px;
    
    }

    

  
     #contact {
      margin-left: 22%;
    }

    #contact h3 {
 
      font-size: 4rem;
       
      }

     

      .contact_text2 p{
      display: flex;
     flex-direction: column;

      }

      footer {
        margin-left: 5rem;
      }
  }
 







